There are basically 8 type of data type in python
1=none(the variable with noassign value)
2=numeric(it is explain in boook)
3=list ,4= tuple , 5=set, 6=string ,7=range ,8=dictionary(map)

In [6]:
#numeric (complex)
a=2+4j# only j is allowed in the complex
type(a)# complex data type

complex

# changing from one data type to another

In [3]:
a=10.5
#type(a)
b=int(a)#here we want only integer value of a,so we used INT as a method to change it into Integer from float
print(b)#here we got a integer value

10

int

In [11]:
#int to float
float(b)#from int to float#

10.0

In [5]:
#to complex number
a=10
b=10.7

c=complex(a,b)
print (c)

(10+10.7j)

In [9]:
#to check the boolean type 
c=a<b
print (c)# to check whether the condition is true or not
type(c)# to check what is the data type of c :

True

bool

In [10]:
#to convert boolean into number
int(c)

1

In [16]:
#range
range (100)

list(range(10))#converting range in list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
range(20)
list(range(20))#to convert range into list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [37]:

print(list(range(2,11,2)))#in this the list will start from 2 and end at 11 and the difference is 2

[2, 4, 6, 8, 10]

In [44]:
#dictionary
#it store in the form of key and value
#so declartion 
#d={'name':'Deepak','age':'23'}
hello={'name':'xyz','address':'add'}
#print (d)
#d #printing key with values

dict_keys(['name', 'address'])

In [40]:
d.keys()# to findout the keys

dict_keys(['name', 'age'])

In [42]:
d.values()#to findout the values of keys

dict_values(['Deepak', '23'])

In [44]:
d['name']

'Deepak'

In [45]:
d.get('age')#used get method to find the values of keys

'23'

In [49]:
d.get('name')

'Deepak'