# in for loop we dont need  to incre or decrement the value or not required to assigen the variable it will totally done by for loops

In [2]:
x=[12,3,43,24,'deepak','khetwal',120.23,32,4.53]
print (x)# it willl directly print but we want the value should be print one by one

[12, 3, 43, 24, 'deepak', 'khetwal', 120.23, 32, 4.53]

In [5]:
#here with the help of for loop we will try to print the value
for i in x:#i will take one by one values from x
    print (i)# here the value from x will be assigned to i one by one

12
3
43
24
deepak
khetwal
120.23
32
4.53

In [25]:
from IPython.display import clear_output#it is used to trace the progres 
c='Deepak'#print string one by one value
for i in c:# it will directly assume
 print(i)

D
e
e
p
a
k

# using for loop with tuple

In [28]:
x=(20,30,'deepak')# ()parenthesis bracket is define the tuple
for i in x:
 print(i)

20
30
deepak

# for loop with set

In [2]:
x={23,43,'khetwal'}# {}curly braces is used for sets and in the set we  can defines the unique elements or values
#we can not perform opertion on the bases of index number because the index number is not fix in sets                
for i in x:
    print(i)

43
khetwal
23

# printing the list values one by one using while loop

In [1]:
x=[2,3,4]# printing the list values one by one using while loop
i=0
#length=len(x)
while i<3:#length:
  print (x[i])
  i=i+1

2
3
4

# to print value from 1 to 10

In [3]:
for i in range(1,11):# another way we can define range(10) it means start from 0 and end at 10
 print(i)

1
2
3
4
5
6
7
8
9
10

# WE CAN DIRECTLY ASSIGN THE VALUES IN FOR LOOPS

In [7]:
for i in [2,3,4,5,'deepak khetwal']:
    print(i)

2
3
4
5
deepak khetwal

# if we want to print certain number and with the difference that time we can go for range operators

In [4]:
for i in range(0,10,3):
    print(i)# it is printing with the difference of 3

0
3
6
9

In [7]:
for i in range(20,11):
    print(i)# because it never goes in revers order
    #to print it in reverse order we have to mention in the range

In [8]:
for i in range(20,11,-3):
    print(i)#  it will print in reverse order with the difference of -3

20
17
14

In [18]:
#print the perfect sqaure from 1 to 500
j=1
for i in range(1,501):
    if j<501:
     j=i*i
     print(j)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529